@import '~@angular/cdk/overlay-prebuilt.css';

.transparent-backdrop {
  background-color: transparent;
}

.context-menu-panel {
  transform-origin: center center;
  border-radius: 4px;
  padding: 8px 0;
  background: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.11);

  .context-menu-item {
    background: none;
    border: none;
    display: block;
    letter-spacing: 0.4px;
    height: 48px;
    padding: 0 32px;
    white-space: nowrap;
    width: 100%;
    text-align: left;

    &:not(:disabled) {
      cursor: pointer;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.08);
      outline: none;
    }
  }
}
